html,
body {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#calc {
  width: 80%;
  background-color: white;
}
#calc .calcBtn {
  width: 100%;
}
